[submodule "Content"]
	path = Content
	url = ssh://onedev.craysoftware.com/Content
[submodule "Plugins/UE4CMake"]
	path = Plugins/UE4CMake
	url = git@github.com:caseymcc/UE4CMake.git
[submodule "Source/RoveSoSimulator/ThirdParty/RoveComm_CPP"]
	path = Source/RoveSoSimulator/ThirdParty/RoveComm_CPP
	url = git@github.com:MissouriMRDT/RoveComm_CPP.git
