<ul>
	{% for item in site.navigation %}
		<li>
			{% capture correctItemLink %}{{ site.baseSubDir | append: item.link }}{% endcapture %}
			{% if page.url == correctItemLink %}
				<strong>{{ item.name }}</strong>
			{% else %}
				<a href="{{ correctItemLink }}">{{ item.name }}</a>
			{% endif %}
			{% if page.url contains item.link and item.link != '/' %}
				<ul>
					{% for subpage in site.pages %}
						{% if subpage.url contains item.link and subpage.url != correctItemLink %}
							<li>
								{% if page.url == subpage.url %}
									<strong>{{ subpage.nav_title | default: subpage.title | default: subpage.basename }}</strong>
								{% else %}
									<a href="{{ subpage.url }}">{{ subpage.nav_title | default: subpage.title | default: subpage.basename }}</a>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</li>
  {% endfor %}
</ul>
